@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300;400;500&family=Roboto+Condensed:wght@300;400;700&family=Sofia+Sans+Condensed:wght@400;500;600&display=swap');

.aboutContainer {
    background-color: rgb(244, 236, 218);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.aboutTitle {
    font-family: 'Barlow Condensed', sans-serif;
    color: #554133;
    font-size: 6rem;
    margin-bottom: 2rem;
    margin-top: 6rem;
}

.aboutSubtitle {
    font-family: 'Barlow Condensed', sans-serif;    
    font-size: 3.5rem;
    padding-left: 3rem;
    margin-bottom: 0;
    margin-top: -1rem;
    color: #554133;
}

.aboutInfoContainer {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    padding-bottom: 5rem;
    align-items: center;
    border-bottom: 0.75rem solid #453124;
}

.aboutText {
    padding: 3rem;
    padding-top: 0;
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: #554133;

}

.aboutPicContainer {
    display: flex;
    padding: 5rem;
    align-items: center;
    justify-content: center;
}

.aboutPicBG1 {
    background-color: rgb(213, 193, 166);
    height: 40rem;
    width: 30rem;
    position: absolute;
    z-index: 3;
    margin-left: 2rem;
    margin-top: 2rem;
}
.aboutPicBG2 {
    background-color: rgb(176, 151, 120);
    height: 41.5rem;
    width: 31.5rem;
    z-index: 2;
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
    position: absolute;
}

.aboutPic {
    height: 40rem;
    width: 30rem;
    z-index: 5;
}

.column {
    display: flex;
    flex-direction: column;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

  .aboutParallaxBG {
    width: 100%;
    height: 50rem;
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: url(../../images/parallaxBG.jpeg);
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .aboutQuoteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    margin-top: -82rem;
    border: 1.5rem solid rgb(209, 198, 180);


  }

  .aboutQuoteText {
    color: rgb(242, 237, 223);
    font-size: 4.5rem;
    margin: 0.5rem;
    padding: 2rem;
    font-family: 'Barlow Condensed', sans-serif;
    border: 0.5rem solid rgb(225, 218, 205);
  }