.projectsContainer {
    background-color: rgb(216, 199, 157);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border-top: 0.75rem solid #453124;
}

.projectsTitle {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    align-self: center;
    font-size: 6rem;
    margin-bottom: 5rem;
    margin-top: 6rem;
    color: #453124;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 80%;
    background-color: rgba(224, 211, 194, 0.793);
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    transition: 0.2s ease-in;
    border: 0.4rem solid rgb(193, 168, 122);
}
.projectContainer:hover {
    scale: 1.02;
    transition: 0.25s ease-out;
}

.projectText {
    align-self: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    min-width: 10vw;
}

.projectTextHeader {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3rem;
    color: #453124;
    padding-top: 0.6rem;
    padding-left: 2rem;
    margin: 0;
    z-index: 2;
}

.projectTextSubheader {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
    color: #453124;
    padding-top: 1rem;
    padding-left: 2rem;
    margin: 0;
}

.projectTextDescription {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.3rem;
    color: #453124;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    margin: 0;
}

.projectButtonWrapper {
    display: flex;
}

.projectButton {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    justify-self: center;
    background-color: rgba(224, 211, 194, 0.793);
    color: #977258;
    height: 3rem;
    width: 9vw;
    margin-left: 2rem;
    margin-bottom: 1rem;
    border: 0.2rem solid #977258;
    border-radius: 0.5rem;
    transition: 0.2s ease-in;
}
.projectButton:hover {
    background-color: rgba(151, 114, 88, 0.793);
    color: rgba(224, 211, 194);
    transform: scale(1.1);
    transition: 0.25s ease-out;
    cursor: pointer;
}

.verticalLine {
    background-color: rgb(193, 168, 122);
    align-self: center;
    justify-self: flex-end;
    margin-left: 1rem;
    width: 0.3rem;
    height: 17rem;
    border-radius: 0.1rem;
}

.projectWrapper {
    display: flex;
    padding: 1rem;
    margin-left: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectImage {
    width: 25vw;
    height: 12.5rem;
    align-self: center;
    justify-self: center;
    object-fit: cover;
    border-radius: 0.35rem;    
    background-color: #c2ac91;
    opacity: 0.6;
}

.imageOverlay {
    width: 25.75vw;
    height: 13rem;
    margin-top: 1.2vw;
    margin-bottom: 0.8rem;
    border-radius: 0.35rem;    
    opacity: 1;
    display: grid;
    background-color: #a8947c;
}

.projectDate {
    align-self: flex-end;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: italic;
    font-size: 1.25rem;
    color: #74655d;
    margin: 0;

}

.transitionSegment {
    height: 50rem;
    width: 100vw;
    display: grid;
    overflow: hidden;
    background: rgb(216, 199, 157);
    background: linear-gradient(rgb(216, 199, 157) 0%, rgb(152, 126, 65) 100%);
}


.transitionText {
    justify-self: center;
    align-self: center;
    font-family: 'Barlow Condensed', sans-serif;
    color: rgb(232, 223, 204);
    font-size: 5vw;
    border: 0.65rem solid rgb(215, 203, 176);        
    border-radius: 10px 10px;
    padding: 20px;
    padding-top: 4px;
    padding-bottom: 16px;
    margin-bottom: 0;
    margin-top: -120rem;
    margin-block-end: 0;
    overflow: visible;
    z-index: 10;
}

.transitionTextBorders {
    justify-self: center;
    align-self: center;
    position: relative;
    width: 79.5vw;
    height: 6vw;
    border: 0.65rem solid rgb(232, 223, 204);       
    border-radius: 10px 10px;
    padding: 20px;
    padding-top: 4px;
    padding-bottom: 16px;
    margin-bottom: 0;
    margin-top: -130rem;
    margin-block-end: 0;
    top: -49.8rem;
    left: -29.8rem;
    z-index: 10;
}