.introContainer {
    background-color: rgb(244, 236, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.introTextboxBG {
    background-color: rgba(200, 154, 37, 0.47);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 19vw;
    width: 40vw;
    min-width: 300px;
    min-height: 220px;
    z-index: 2;
}

.introTextbox {
    background-color: rgba(244, 236, 218, 0.83);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    height: 93%;
    width: 94%;
    align-items: center;
    justify-content: center;
}

.dashTextbox {
    background-color:rgba(222,193,131,255);
    height: 0.5vw;
    width: 10vw;
    position: absolute;
    transform-origin: center;
    align-items: center;
    justify-content: center;
    top: 10vw;
    z-index: 10;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}
@media screen and (max-width: 750px) {
    .dashTextbox {
        width: 100px;
    }}

.indContainer {
    position:absolute;
    bottom:1vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:130px;
    width: 280px;
    clear: both;
}

.indItem {
    display: flex;
    flex-direction: column;
}

.movingImage1 {
    position: relative;
    height: 30vw;
    top: -150px;
    left: -70px;
    padding: 100px;
}
@media screen and (max-width:750px) {
    .movingImage1 {
        left: 50vw;
        top: -190px;
        height: 300px;
    }}

.movingImage2 {
    position: relative;
    height: 30vw;
    top: 185px;
    right: -200px;
    padding: 100px;
}
@media screen and (max-width:750px) {
    .movingImage2 {
        right: 8vw;
        top: 215px;
        height: 300px;
    }}

.introHeader { /*main header*/
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 5vw;
    font-weight: 1000;
    margin-top: 1vw;
    margin-bottom: 1vw;
    white-space: nowrap;
    cursor: default;
    color: #453124;

}
@media screen and (max-width:750px) {
    .introHeader {
        font-size: 40px;
        margin-top: 12px;
        margin-bottom: 12px;
    }}

.textboxp::before {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 3vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    cursor: default;
    position: relative;
    content: "UW CS '27";
    animation: changeText infinite 9s;
    animation-timing-function: ease;
    color: #453124;
    }
@media screen and (max-width:750px) { 
    .textboxp {
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: 20px;
    }   
}

@keyframes changeText {
    0%{content: "UW CS '27"}
    35%{ content: "Full-Stack Dev.";}
    66%{ content:"Food Connoisseur";}
}

.indp {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 2rem;
    font-weight: 1000;
    color:rgb(121, 92, 17);
    cursor: default;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.indIcon {
    font-size: 2.5rem;
    color:rgb(121, 92, 17);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
    0%{ transform: translateY(0); }
    35%{ transform: translateY(10px); }
    50%{ transform: translateY(0); }
    100%{ transform: translateY(0); }
}

.bounce2 {
    animation-name: bounce2;
    animation-timing-function: ease;
}
@keyframes bounce2 {
    0%{ transform: translateY(0); }
    30%{ transform: translateY(10px); }
    43%{ transform: translateY(0); }
    52%{ transform: translateY(4px); }
    59%{ transform: translateY(0); }
    100%{ transform: translateY(0); }
}

.horizontalLeft {
    transform: translateX(-5px) scale(1.5)
}

.coverText {
    animation-name: coverText;
    animation-timing-function: ease;
}
@keyframes coverText {
    0%{transform: translateY(0); }
    20%{transform: translateY(2.2vw) ;
        height: 4.2vw;
        width: 10vw;
    }
    30%{width: 28vw;
    }
    45%{transform: translateY(2.2vw);
        height: 4.2vw;}
    55%{transform: translateY(2.2vw);
        height: 4.2vw;
        width: 0.6vw;}
    70%{transform: translateY(0);
        width: 2.5vw;
    }
    85%{transform: translateY(0);
        height: 0.5vw;
        width: 10vw;
    }
    90%{transform: translateY(0);}
    100%{ transform: translateY(0) ;}
    

}