.contactsContainer {
    background-color: rgb(128, 107, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

h3 {
    font-family: 'Barlow Condensed', sans-serif;
}

h4 {
    font-family: 'Barlow Condensed', sans-serif;
}

p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14px;
}