.experiencesContainer {
    background-color: rgb(183, 152, 81);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.experiencesTitle {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    align-self: center;
    font-size: 6rem;
    margin-bottom: 2rem;
    margin-top: 6rem;
}

.experiencesSubtitle {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3.5rem;
    margin-left: 3rem;
    align-self: flex-start;
}

.experiencesItemWrapper {
    background-color: aquamarine;
    align-self: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 3rem;
    width: 80%;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.experiencesItem {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.experiencesItemHeader {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3rem;
    color: black;
    padding-top: 1rem;
    padding-left: 2rem;
    margin: 0;
}

.experiencesItemSubheader {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
    color: black;
    padding-top: 1rem;
    padding-left: 2rem;
    margin: 0;
}

.experiencesItemDescription {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    color: black;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    margin: 0;
}

.experiencesItemImage {

}